
@{
    ViewData["Title"] = "Index";
}

<form class="layui-form" action="">
    <fieldset class="layui-elem-field comfield" style="margin: 0">
        <div style="float:left">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">订单编号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="OrderId" lay-verify="OrderId" autocomplete="off" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">订单名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="OrderName" lay-verify="OrderName" autocomplete="off" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">下单人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="UserName" lay-verify="" autocomplete="off" placeholder="请输入" class="layui-input">
                    </div>
                </div>
            </div>

        </div>

        <div style="float: left">
            <button class="layui-btn layui-btn-sm layui-btn-normal layui-btn-radius" lay-submit=""
                    lay-filter="demo1">
                <span class="layui-icon">
                    &#xe615;
                </span>查询
            </button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal layui-btn-radius">
                <span class="layui-icon">
                    &#xe639;
                </span>重置
            </button>
        </div>
    </fieldset>
</form>
<div class="layui-btn-group mytool">
    <button class="layui-btn layui-btn-normal layui-btn-sm" id="btnadd"><i class="layui-icon">&#xe654;</i>新增</button>
    <button class="layui-btn layui-btn-sm" id="btnedit"><i class="layui-icon">&#xe642;</i>编辑</button>
    <button class="layui-btn layui-btn-danger layui-btn-sm" id="btndel"><i class="layui-icon">&#xe640;</i>取消</button>
</div>

<table id="demo" lay-filter="test"></table>
<script type="text/html" id="DegreeTpl">
    {{# if(d.Degree==1){ }}
    正常
    {{# } else if(d.Degree==2) { }}
    <span style="color:black; "> 重要</span>
    {{# } else{ }}
    <span style="color:red; "><strong>紧急</strong></span>
    {{# } }}
</script>
 
<script type="text/html" id="OrderTypeIdsTpl">
    {{# var res; enumOrderType.forEach(function(item, index) { if(d.StrOrderTypeIds.indexOf(item.value)!=-1){ res=item.text+","+ res; } });res=res.replace(',undefined','');  }}


    {{# if(res ===undefined){ }}
    {{ "" }}
    {{# } else { }}
    {{ res }}
    {{# } }}
</script>



<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe615;</i>查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>取消</a>
</script>

<script type="text/javascript">

    ; layui.use(['form', 'layedit', 'laydate', 'table', 'layer', 'manageCom'],
        function () {

            var form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , manage = layui.manageCom
                , table = layui.table;
            $(document).on('dblclick',
                '.layui-table>tbody>tr',
                function (event) {
                    console.info($(this).children('td:eq(1)').text());
                    var id = $(this).children('td:eq(1)').text();
                   var obj= layer.open({
                        type: 2,
                        title: '查看用户信息',
                        shadeClose: true,
                        //shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['893px', '600px'],
                        content: '@Url.Action("ShowOrder")?Id=' + id
                    });
                    layer.full(obj);
                });
            //日期
            laydate.render({
                elem: '#date'
                , type: 'datetime'
            });

            //监听提交
            form.on('submit(demo1)', function (data) {
                tableIns.reload({
                    where: data.field
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                return false;
            });

            $("#btnadd").on('click',
                function () {
                   var  perContent =layer.open({
                        type: 2,
                        title: '新增派单',
                        shadeClose: true,
                        //shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        //area: ['893px', '600px'],

                        content: '@Url.Action("AddOrder")'
                   });
                    layer.full(perContent);
                });
            function editPage(id) {
                var perContent=layer.open({
                    type: 2,
                    title: '编辑订单',
                    shadeClose: true,
                    shade: false,
                    maxmin: false, //开启最大化最小化按钮
                    area: ['893px', '600px'],
                    content: '@Url.Action("EditOrder")/' + id
                });
                layer.full(perContent);
            }
            function deletePost(ids) {
                console.info(ids);
                layer.confirm('确定取消订单?', function (index) {
                    var postdata = [];
                    ids.forEach(function (value) {
                            postdata.push(value.Id);
                        });

                    $.ajax({
                        type: "post",
                        url: '@Url.Action("OrderClose")',
                        data: { ids: postdata },
                        success: function (data) {
                            console.info(data);
                            if (data.Code === 0) {
                                layer.msg("订单取消成功！!");
                                tableIns.reload();
                            } else {
                                layer.msg(data.Msg);
                            }
                        }
                    });
                    layer.close(index);
                    //向服务端发送取消指令

                });
            }

            $("#btnedit").on('click',
                function () {
                    var checkStatus = table.checkStatus('demo');
                    var checkdata = checkStatus.data;
                    if (checkdata.length != 1) {
                        layer.msg("请选一条数据编辑！");
                        return;
                    }
                    console.info(checkStatus.data[0]);
                    editPage(checkStatus.data[0]);
                });

            $("#btndel").on('click',
                function () {
                    var checkStatus = table.checkStatus('demo');
                    var checkdata = checkStatus.data;
                    if (checkdata.length == 0) {
                        layer.msg("请选择要取消的数据支持批量取消！");
                        return;
                    }
                    deletePost(checkdata);
                });
            //展示已知数据
            tableIns = table.render({
                elem: '#demo',
                url: '@Url.Action("GetOrderInfo")'
                , height: manage.getHeight()
                , cols: [[ //标题栏
                    { checkbox: true, LAY_CHECKED: false } //默认全选
                    , { field: 'Id', title: 'Id', width: 80, sort: true }
                    , { field: 'OrderName', title: '订单名称', width: 220 }
                    , {
                        field: 'OrderState', title: '订单状态', width: 100, templet: function(d) {
                            var res; enumOrderState.forEach(function (item, index) { if (d.OrderState == item.value) { res = item.text; return; } });
                            if (res === undefined) return "";
                            else {
                                if (res == "接单中")
                                    return '<span style="color:red">接单中</span>';
                                else if (res == "已完成")
                                    return '<span style="color:gree">已完成</span>';
                                else if (res == "未确认") {
                                    return '<span style="color:black">未确认</span>';
                                } else
                                    return '<span style="color:blue">已取消</span>';;
                            }
                        } }
                    , { field: 'Degree', title: '紧急程度', width: 100, templet: '#DegreeTpl' }
                    , { field: 'CreteUser', title: '派单人', width: 120 }
                    , { field: 'StrReceivePersons', title: '所有接单人', width: 150 }
                    , { field: 'StrOrderTypeIds', title: '派单类型', width: 120, templet: '#OrderTypeIdsTpl' }
                    , { field: 'ExpectTime', title: '预计完成时间', width: 180, sort: true }
                    , { field: 'ComplateTime', title: '实际完成时间', width: 180 }
                    , {
                        field: 'ExistRefuse', title: '部分拒绝', width: 100, templet: function(d) {
                            if (d.ExistRefuse)
                                return '<span style="color:red">是</span>';
                            else
                                return'<span style="color:black">否</span>';
                        }}

                    , { fixed: 'right', width: 210, align: 'center', toolbar: '#barDemo' }
                ]]
                //, skin: 'row' //表格风格
                , even: false
                , page: true //是否显示分页
                , limits: [5, 7, 10, 100]
                , limit: 10 //每页默认显示的数量
                , loading: true
            });

            //监听工具条
            table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'detail') { //查看
                  var conentobj=  layer.open({
                        type: 2,
                        title: '查看派单信息',
                        shadeClose: true,
                        //shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['893px', '600px'],
                        content: '@Url.Action("ShowOrder")?Id=' + data.Id
                    });
                  layer.full(conentobj);
                } else if (layEvent === 'del') { //取消
                    deletePost([{ Id: data.Id}]);
                } else if (layEvent === 'edit') { //编辑
                    editPage(data.Id);
                }
            });

        });

</script>